header{
    background-color: blue;
    position: center;
    color: white;
    align-content: center;
    text-align: center;
}

a:visited { 
    color: white; 
   } 

a{
    color:white; 
}

footer {
    background-color: blue;
    position: center;
    color: white;
    align-content: center;
    text-align: center;
    font-weight: 50;
    font-size: smaller;
}