header {
    background-color: blue;
    color: white;
    text-align: center;
    padding: 10px;
}

ul {
    list-style-type: none;
}

li {
    display: inline;
    margin-right: 15 px;
}

a {
    color: white;
    text-decoration: none;
}

a:visited {
    color: white;
}

footer {
    background-color: blue;
    text-align: center;
    color: white;
    padding: 15 px;
    font-weight: 50;
    font-size: smaller;
}