header{
    background-color: blue;
    position: center;
    color: white;
    align-content: center;
    text-align: center;
}

footer {
    background-color: blue;
    position: center;
    color: white;
    align-content: center;
    text-align: center;
    font-weight: 50;
    font-size: smaller;
}