.container {
    /*border-width: 2px; 
    border-style: solide; 
    border-color: darkgray; */
    border: 2px solid gray;
    width: fit-content;
    /*margin-top:
    margin-right:
    margin-bottom:
    margin-left: 
    or
    margin: top-bottom right-left*/
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 2px 2px 2px gray;
}


.title {
    text-align: center;
}

.image {
    width: 400px;
    margin: 15px;
}

.sub-title {
    margin-left: 30px;
}

.info {
    text-align: center;
}